<% var rootPath = '../../'; %>

<!DOCTYPE html>
<html lang="en">
<%- include(rootPath + 'elements/guest/header.ejs')%>

<body>
    <%- include(rootPath + 'elements/guest/navbar.ejs')%>


    <main class="site-main">

        <!--================ Hero banner start =================-->
        <section class="hero-banner">
            <div class="container">
                <div class="row no-gutters align-items-center pt-60px">
                    <div class="col-5 d-none d-sm-block">
                        <div class="hero-banner__img">
                            <img class="img-fluid" src="img/home/products.png" alt="">
                        </div>
                    </div>
                    <div class="col-sm-7 col-lg-6 offset-lg-1 pl-4 pl-md-5 pl-lg-0">
                        <div class="hero-banner__content">
                            <h4>Hàng ngàn sản phẩm</h4>
                            <h1 class="text-warning">Đấu giá ngay <a class="btn btn-outline-danger mb-2" href="#"><i class="fas fa-greater-than"></i></a></h1>
                            <img class="img-fluid" src="img/home/hammer.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================ Hero banner start =================-->

        <!-- ================ trending product section start ================= -->
        <section class="section-margin calc-60px">
            <div class="container">
                <div class="section-intro pb-60px">
                    <p>Nhanh tay ra giá để sở hữu.</p>
                    <h2>Đấu Giá <span class="section-intro__style">Sắp Kết Thúc</span></h2>
                </div>
                <div class="row">
                    <% HottestProduct.forEach(product => {%>
                        <%
                            let biddersSize = product.bidders.length;
                            let bidderMax = product.bidders[biddersSize - 1];
                            let nameBidderMax
                            if(!bidderMax) {
                                nameBidderMax = 'Chưa có'
                            }
                            else {
                                nameBidderMax = bidderMax.bidder.user.fullName.replace(/^.{4}/, '****')
                                
                            }
                            let fromNow = moment(Date.now()).to(product.timeEnd)
                        %>
                        <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="card text-center card-product">
                            <div class="card-product__img">
                                <img class="card-img" src="<%=product.images.main%>" alt="">
                            </div>
                            <div class="card-body">
                                <h4 class="card-product__title product__textoverflow"><a href="/products/detail/<%=product._id%>"><%=product.name%></a></h4>
                                <p class="card-product__price text-danger">Giá hiện tại: <%=product.priceCurrent%> vnđ</p>
                                <p><i class="fas fa-crown mr-2 text-warning"></i><%= nameBidderMax %></p>
                                <p><i class="far fa-clock mr-1"></i><%= fromNow %> <i class="fas fa-angle-double-up ml-2 mr-1"></i><%= biddersSize%></p>
                            </div>
                            
                        </div>
                    </div>
                    <%})%>
                    
                    
                </div>
            </div>
        </section>

        <!-- ================ trending product section end ================= -->

        <!-- ================ Best Selling item  carousel ================= -->
        <section class="section-margin calc-60px">
            <div class="container">
                <div class="section-intro pb-60px">
                    <p>Sản phẩm với lượt ra giá nhiều nhất</p>
                    <h2>Đấu Giá <span class="section-intro__style">Hot Nhất</span></h2>
                </div>
                <div class="owl-carousel owl-theme" id="bestSellerCarousel">
                    <%HottestProduct.forEach(product => {%>
                        <%
                            let biddersSize = product.bidders.length;
                            let bidderMax = product.bidders[biddersSize - 1];
                            let nameBidderMax
                            if(!bidderMax) {
                                nameBidderMax = 'Chưa có'
                            }
                            else {
                                nameBidderMax = bidderMax.bidder.user.fullName.replace(/^.{4}/, '****')
                                
                            }
                            let fromNow = moment(Date.now()).to(product.timeEnd)
                        %>

                        <div class="card text-center card-product">
                            <div class="card-product__img">
                                <img class="card-img" src="<%=product.images.main%>" alt="">
                            </div>
                            <div class="card-body">
                                <h4 class="card-product__title product__textoverflow"><a href="/products/detail/<%=product._id%>"><%=product.name%></a></h4>
                                <p class="card-product__price text-danger">Giá hiện tại: <%=product.priceCurrent%> vnđ</p>
                                <p><i class="fas fa-crown mr-2 text-warning"></i><%= nameBidderMax %></p>
                                <p><i class="far fa-clock mr-1"></i><%= fromNow %> <i class="fas fa-angle-double-up ml-2 mr-1"></i><%= biddersSize%></p>
                            </div>
                            
                        </div>
                        
                    <%})%>
                    
                    

                    
                    
                </div>
            </div>
        </section>

        <!-- ================ Best Selling item  carousel end ================= -->

        <!-- ================ most expensive product section start ================= -->
        <section class="section-margin calc-60px">
            <div class="container">
                <div class="section-intro pb-60px">
                    <p>Siêu hot.</p>
                    <h2>Giá <span class="section-intro__style"> Cao Nhất</span></h2>
                </div>

                <div class="row">
                    <% MostExpensiveProduct.forEach(product => {%>
                        <%
                            let biddersSize = product.bidders.length;
                            let bidderMax = product.bidders[biddersSize - 1];
                            let nameBidderMax
                            if(!bidderMax) {
                                nameBidderMax = 'Chưa có'
                            }
                            else {
                                nameBidderMax = bidderMax.bidder.user.fullName.replace(/^.{4}/, '****')
                                
                            }
                            let fromNow = moment(Date.now()).to(product.timeEnd)
                        %>
                        <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="card text-center card-product">
                            <div class="card-product__img">
                                <img class="card-img" src="<%=product.images.main%>" alt="">
                            </div>
                            <div class="card-body">
                                <h4 class="card-product__title product__textoverflow"><a href="/products/detail/<%=product._id%>"><%=product.name%></a></h4>
                                <p class="card-product__price text-danger">Giá hiện tại: <%=product.priceCurrent%> vnđ</p>
                                <p><i class="fas fa-crown mr-2 text-warning"></i><%= nameBidderMax %></p>
                                <p><i class="far fa-clock mr-1"></i><%= fromNow %> <i class="fas fa-angle-double-up ml-2 mr-1"></i><%= biddersSize%></p>
                            </div>
                            
                        </div>
                    </div>
                    <%})%>
                    
                    
                </div>
            </div>
        </section>
        <!-- ================ most expensive section end ================= -->

     
        <!-- ================ Subscribe section start ================= -->
        <section class="subscribe-position">
            <div class="container">
                <div class="subscribe text-center">
                    <h3 class="subscribe__title">Get Update From Anywhere</h3>
                    <p>Bearing Void gathering light light his eavening unto dont afraid</p>
                    <div id="mc_embed_signup">
                        <form target="_blank"
                            action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                            method="get" class="subscribe-form form-inline mt-5 pt-1">
                            <div class="form-group ml-sm-auto">
                                <input class="form-control mb-1" type="email" name="EMAIL"
                                    placeholder="Enter your email" onfocus="this.placeholder = ''"
                                    onblur="this.placeholder = 'Your Email Address '">
                                <div class="info"></div>
                            </div>
                            <button class="button button-subscribe mr-auto mb-1" type="submit">Subscribe Now</button>
                            <div style="position: absolute; left: -5000px;">
                                <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </section>
        <!-- ================ Subscribe section end ================= -->



    </main>

    <%- include(rootPath +  'elements/guest/footer.ejs')%>

    <%- include(rootPath + 'elements/guest/commonJs.ejs')%>
    <script src="/js/guest/index.js"></script>


</body>

</html>