<% var rootPath = '../../../'; %>

<!DOCTYPE html>
<html lang="en">
<%- include(rootPath + 'elements/guest/header.ejs')%>

<body>
    <script>
    var handleheart;    
    </script>
    <%- include(rootPath + 'elements/guest/navbar.ejs')%>
    <% if (sort!== '-1') {
        if(sort === '1') {
            products = products.sort((a,b) => a.priceCurrent > b.priceCurrent)
        }
        else {
            products = products.sort((a,b) => a.timeEnd < b.timeEnd)
        }
        
    }%>


    <div class="container my-3">
        <div class="alert alert-success hidden" role="alert">
            
        </div>
    </div>
    <div class="container ">
        <div class="alert alert-danger hidden" role="alert">
            
        </div>
    </div>
    <!-- Begin Main -->
    <main class="site-main">
        <!-- ================ category section start ================= -->
        
        <section class="section-margin--small mb-5">
            <div class="container">
                <div class="section-intro pb-60px">
                    <p>Nhanh tay ra giá để sở hữu.</p>
                    <h2><span class="section-intro__style"><%= title%></span></h2>
                </div>
                <div class="row">
                    <div class="w-100">
                        <!-- Start Filter Bar -->
                        <div class="filter-bar d-flex flex-wrap align-items-center">
                            <div class="sorting">
                                <select id="product-sorting">
                                    <option value="1">Giá đấu tăng dần</option>
                                    <option value="2"><a href="javascript:void(0)">Thời gian kết thúc giảm dần</a></option>
                                </select>
                            </div>
                        </div>
                        <!-- End Filter Bar -->
                        <!-- Start Best Seller -->
                        <section class="lattest-product-area pb-40 category-list">
                            <div class="row">
                                <% products.forEach(product => { %>
                                    <%
                                        let biddersSize = product.bidders.length;
                                        let bidderMax = product.bidders[biddersSize - 1];
                                        let nameBidderMax
                                        if(!bidderMax) {
                                            nameBidderMax = 'Chưa có'
                                        }
                                        else {
                                            nameBidderMax = bidderMax.bidder.user.fullName.replace(/^.{4}/, '****')
                                            
                                        }
                                        let fromNow = moment(Date.now()).to(product.timeEnd)
                                        

                                    %>
                                    <div class="col-md-6 col-lg-3">
                                        <div class="card text-center card-product">
                                            <div class="card-product__img">
                                                <img class="card-img" src="<%= product.images.main%>" alt="">
                                            </div>
                                            <div class="card-body">
                                                <h4 class="card-product__title product__textoverflow"><a href="/products/detail/<%=product._id%>"><%= product.name %></a></h4>
                                                <p class="card-product__price text-danger">Giá hiện tại: <%= product.priceCurrent%></p>
                                                <p><i class="fas fa-crown mr-2 text-warning"></i><%= nameBidderMax %></p>
                                                <p><i class="far fa-clock mr-1"></i><%= fromNow %><i class="fas fa-angle-double-up ml-2 mr-1"></i><%= biddersSize %></p>
                                            </div>
                                            <% if (locals.isAuthenticated) {%>
                                            <div class="card-product__new">
                                                <button  data-idProduct="<%=product._id%>" type="button" class="add_favorite_list"
                                                    onclick="handleheart('<%=product._id%>'); return false;"
                                                    >
                                                    <i class="ti-heart"></i>
                                                </button>
                                            </div>
                                            <% }else {%>
                                                <div hidden class="card-product__new ">
                                                    <button data-idProduct=<%=product._id%> type="button" class="add_favorite_list">
                                                        <i class="ti-heart"></i>
                                                    </button>
                                                </div>
                                            <%} %>
                                        </div>
                                    </div>
                                <%})%>
                                
                            </div>

                            <!-- ================ Pagination section start ================= -->
                            <nav class="blog-pagination justify-content-center d-flex">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a href="#" class="page-link" aria-label="Previous">
                                            <span aria-hidden="true">
                                                <span class="fas fa-chevron-left"></span>
                                            </span>
                                        </a>
                                    </li>
                                    <% 
                                        const PAGE_SIZE = 8;
                                        let totalPages = Math.floor(totalProduct / PAGE_SIZE);
                                         
                                    %>
                                    <% for(let i = 1; i <= totalPages; i++) {%>
                                        <% if(pageCurrent == i){%>
                                            <li class="page-item active">
                                                <a href="#" class="page-link active"><%= i%></a>
                                            </li>
                                        <%} else {%>
                                            <li class="page-item">
                                                <a href="#" class="page-link"><%= i%></a>
                                            </li>
                                        <%}%>
                                        
                                    <%} %>
                                    <!-- <li class="page-item active">
                                        <a href="#" class="page-link">02</a>
                                    </li>
                                    <li class="page-item">
                                        <a href="#" class="page-link">03</a>
                                    </li>
                                    <li class="page-item">
                                        <a href="#" class="page-link">04</a>
                                    </li>
                                    <li class="page-item">
                                        <a href="#" class="page-link">09</a>
                                    </li> -->
                                    <li class="page-item">
                                        <a href="#" class="page-link" aria-label="Next">
                                            <span aria-hidden="true">
                                                <span class="fas fa-chevron-right"></span>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                            <!-- ================ Pagination section end ================= -->
                        </section>
                        <!-- End Best Seller -->
                    </div>
                </div>
            </div>
        </section>
        <!-- ================ category section end ================= -->


    </main>

    <!-- End Main -->

    <%- include(rootPath +  'elements/guest/footer.ejs')%>

    <%- include(rootPath + 'elements/guest/commonJs.ejs')%>
    <script src="/js/guest/category.js"></script>
    </body>

</html>