<div class="row pt-5 pl-5 pr-5">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Quản lý người dùng</h3>

              <div class="card-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                  <div class="input-group-append">
                    <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
              <table class="table table-hover">
                <thead>
                  <tr>
                        <% manageInfo.forEach(info => {%>
                            <th style="text-transform: capitalize;"><%= info %></th>
                        <%})%>
                    <!-- <th><%= manageInfo[0] %></th>
                    <th>Username</th>
                    <th>Họ tên</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Reason</th> -->
                  </tr>
                </thead>
                <tbody>
                        <% users.forEach(user => {%>
                            <tr>
                                <td><%= user.username ? user.username: 'none' %></td>
                                <td><%= user.fullname ? user.fullname: 'none' %></td>
                                <td><%= user.role ? user.role: 'none'%></td>
                                <td><%= user.email ? user.email: 'none'%></td>
                                <td>
                                    <button data-id=<%= user.id %> type="button" class="btn btn-primary get_modal" data-toggle="modal" data-target="#getUser">
                                        <i class="fas fa-address-book"></i>
                                    </button>   
                                        
                                    <i data-id=<%= user.id %> style="cursor: pointer;" class="fas fa-user-slash mr-3 del_btn" ></i>
                                    <button data-id=<%= user.id %> type="button" class="btn btn-primary change_modal" data-toggle="modal" data-target="#exampleModal">
                                        <i style="cursor: pointer;" class="fas fa-user-edit"></i>
                                    </button>
                                </td>
                            </tr>
                        <%})%>
                  
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
        <!-- /.card -->
        </div>
      </div>

      <!-- Button trigger modal -->

    <!-- Modal Get User-->
    <div id="modal_get"></div>
    <div id="modal_change"></div>
      
    <!-- Modal Change User-->
      