<!DOCTYPE html>
<html>
<head>
    <%- include('./elements/header') %>
</head>
<body class="hold-transition sidebar-mini layout-fixed text-sm">
<div class="wrapper">

  <!-- Navbar -->
  <%- include('./elements/navbar') %>
  <%- include('./elements/sidebar') %>
  <div class="content-wrapper">
      <%- include('./elements/content') %>
      <%- include('./elements/exampleContent') %>
  </div>
  <%- include('./elements/footer') %>
  <%- include('./elements/script') %>
</body>
</html>
