<!DOCTYPE html>
<html>
<head>
    <%- include('./elements/header') %>
  
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <!-- Navbar -->
  <%- include('./elements/productsNavbar') %>
  <%- include('./elements/sidebar') %> 
  <div class="content-wrapper">
      <%- include('./contents/productList') %>
     
  </div>
  <%- include('./elements/footer') %>
  <%- include('./elements/script') %>
  <script src="/js/manage_product.js"></script>

</body>
</html>
